@page {
    size: A4 portrait;
    margin-top: 1cm;
}

html, body {
    width: 100%;
    margin-top: 0px;
}

hr {
    margin-bottom: 0;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

th {
    padding-left: 7px;
    padding-right: 7px;
}

td {
    padding-left: 7px;
    padding-right: 7px;
}

.container {
    width: 100%;
    font-family: 'Courier' !important;
    font-size: 13px !important;
    letter-spacing: 2px !important;
}